{% extends "base.html" %}
{% block content %}

<div class="container mt-4">
  <h3 class="text-success fw-bold mb-4 text-center">Módulo de Calculadoras</h3>

  <div class="dropdown text-center">
    <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown">
      Selecciona una calculadora
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{{ url_for('imc') }}">Índice de Masa Corporal (IMC)</a></li>
      <li><a class="dropdown-item" href="{{ url_for('tmb') }}">Tasa Metabólica Basal (TMB)</a></li>
      <li><a class="dropdown-item" href="{{ url_for('gct') }}">Gasto Calórico Total (GCT)</a></li>
      <li><a class="dropdown-item" href="{{ url_for('peso_ideal') }}">Peso Corporal  Ideal</a></li>
      <li><a class="dropdown-item" href="{{ url_for('macronutrientes') }}">Macronutrientes</a></li>
    </ul>
  </div>

  <div class="card p-4 md-2 shadow-sm text-center">
    <p class="text-muted mb-0">Selecciona una calculadora del menú para comenzar.</p>
  </div>
</div>

  <div class="card shadow p-4 md-4 mb-3 mt-4 text-center">
    <h2 class="text-success fw-bold">¡Importante!</h2>
    <p>Esta información brinda un diagnóstico del momento, no debe usarse para efectos de seguimiento nutricional.
      El resultado esta basado en el cálculo nutricional según los parámetros ingresados.
      Para mayor información acércate a tu profesional de la salud de confianza.
      Recurre a tu profesional nutricionista para una mejor información de carácter nutricional</p>
  </div>

{% endblock %}
