{% extends "base.html" %}
{% block content %}

<div class="container mt-4">

<div class="alert alert-danger d-flex align-items-center" role="alert">
    <div>
    Necesitas iniciar sesión para acceder a esta función.
    </div>
</div>

<h3 class="text-success fw-bold mb-4">Tarjeta de Salud - Perfil del Usuario</h3>

<form class="row g-3 text-muted">
    <div class="col-md-6">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" placeholder="Omar Daniel Ortega" disabled>
    </div>
    <div class="col-md-3">
        <label class="form-label">Edad</label>
        <input type="number" class="form-control" min="16" max="60" disabled>
    </div>
    <div class="col-md-3">
        <label class="form-label">Sexo</label>
        <select class="form-select" disabled>
            <option>Masculino</option>
            <option>Femenino</option>
        </select>
    </div>
    <div class="col-md-3">
        <label class="form-label">Peso Actual (kg)</label>
        <input type="number" class="form-control" disabled>
    </div>
    <div class="col-md-3">
        <label class="form-label">Altura (cm)</label>
        <input type="number" class="form-control" disabled>
    </div>
    <div class="col-md-6">
        <label class="form-label">Objetivo</label>
        <select class="form-select" disabled>
            <option>Perder peso</option>
            <option>Mantener peso</option>
            <option>Ganar masa muscular</option>
        </select>
    </div>
    <div class="col-12">
        <button type="button" class="btn btn-success" disabled>Guardar Cambios</button>
    </div>
</form>

</div>

{% endblock %}
